@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Serif Text", serif;
    background: url("./assets/ceu.jpg") no-repeat center center;
    background-size: cover;
    color: #333;
    line-height: 1.6;
}